{% extends "layout.html" %}

{% block h1 %}<h1 id="main-h1">Login Page</h1>{%endblock h1 %}

{% block form %}
<form method="POST" action="" id="form-login" >
<div class="alert alert-info" role="alert"> Login to create a post!</div>
    {{ form.hidden_tag() }}
    <p>{{ form.mail.label }}</p><p>{{ form.mail }}</p>
    {% for error in form.mail.errors %}
                            <div class="alert alert-danger" role="alert">{{ error }}</div>
                         {% endfor %}


    <p>{{ form.password.label }}</p><p>{{ form.password }}</p>
        {% for error in form.password.errors %}
                            <div class="alert alert-danger" role="alert">{{ error }}</div>
                         {% endfor %}


    <p>{{ form.submit(class="btn btn-outline-info") }}</p>

</form>
{% endblock form %}

<footer style="position: bottom" id="footer">  </footer>
