{% extends "layout.html" %}
{% block h1 %}

{% for post in posts %}
<p>
    <article>
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
                <br><h2 id="profile"><small>Written by, <strong><em>{{ post.author.username }}</em></strong></small></h2>
              <small id="profile">Posted on {{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <br><h2><a class="article-title" id="profile"> {{ post.title }}</a></h2>
            <br><p class="article-content" id="profile">{{ post.content }}</p>
          </div>
        </article>
</p>
{% endfor %}

{% endblock h1 %}